# 📚 Epic summary

### 📋 Hipothesis Statement

**For:** <Customers>
**Who:** <do something>
**The:** <solution>
**Is a:** <Something - the `how`>
**That:** <provides this value>
**Unlike:** <competitor, current solution or non-existing solution>
**Our solution:** <does something better - the why>

### 🏢 Business Outcomes

### 📊 Leading Indicators

### 📋 Non Functional Requirements

1. Performance
2. Capacity
3. Scalability
4. Availability
5. Reliability

### 📋 Additional Information

Any notes you took during refinement sessions or talks with other people about the story

### 💾 Technical Information

[Documentation Reference](https://google.com)

