# User Story

### :green book: Summary
**As a**
**I want to**
**So that**

### :clipboard: Acceptance Criteria
/info panel
**Given** precondition
**When** action
**Then** result

1. Team member can access project
2. Team member can make changes in the project

### :notebook: Additional Notes / Information
Any notes you took during refinement sessions or talks with other people about the story

### :floppy_disk: Technical Information

[Documentation Reference](https://google.com)

### :flag on: ToDo
(-) @ clarify
